ul {
  list-style: none;
}
a {
  text-decoration-line: none;
  color: inherit;
}
.coin-box:hover {
  transition: 0.3s;
  scale: 1.03;
  border: 2px solid royalblue;
}
.coin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  border: 1px solid lightslategray;
  border-radius: 8px;
  transition: 0.3s;
}
